.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    margin-top: -4px;
    /*font-family: 'Glyphicons Halflings'; */
    font-weight: normal;
    font-size: 20px;
}

body {
    min-height: 100vh;
}

.confirmBox {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .imgPreview {
        max-width: 20vw;
    }
    .pdfPreview {
        max-height: 20vh;
    }
    .maxSize {
        max-width: 20vh;
        display: block;
        float: left;
    }
}

@media screen and (max-width: 800px) {
    .imgPreview {
        max-width: 50%;
    }
    .pdfPreview {
        max-width: 30%;
    }
    .spanMaxSize {
        max-width: 20vw;
    }
}

@media screen and (max-width: 500px) {
    .imgPreview {
        max-width: 100%;
    }
    .pdfPreview {
        max-width: 45%;
    }
    .spanMaxSize {
        max-width: 20vw;
    }
}